
.vs/DNSRelay/v15/.suo
.vs/DNSRelay/v15/Browse.VC.db
.vs/DNSRelay/v15/Browse.VC.opendb
.vs/DNSRelay/v15/ipch/AutoPCH/2a5d0116caf72118/DNSRELAY.ipch
.vs/DNSRelay/v15/ipch/AutoPCH/bbdde710fceeb3cb/DNSRELAY.ipch
DNSRelay/Debug/vc141.pdb
DNSRelay/Debug/vc141.idb
